:root
{
    --color: #e65b29;
    --bgcolor: #;
    --font: Montserrat;
    --radius: 0px;
    --t: all 0.6s ease-in 0s;
    --rgba: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300..900;1,300..900&display=swap');